:root {
  --bg-body: #f3f3f3;
  --bg-form: #ee4030;
  --bg-form-input: #d3d3d3;
  --bg-footer: #4c7dcd;
  --border-color: #333333;
  --font-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  color: var(--font-color);
  line-height: 1.8rem;
}

body {
  background-color: var(--bg-body);
}

.container {
  margin: 0 10%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-form);
  border-bottom: 0.5rem solid var(--border-color);
}

.alert {
  background-color: #ee4035;
  color: #f3f3f3;
  display: none;
}

.input {
  background-color: var(--bg-form-input);
}

.input,
.alert {
  padding: 1rem;
  border: 0.5rem solid var(--border-color);
  border-radius: 15px;
  font-size: 1.5rem;
  position: relative;
  top: 2.7rem;
  min-width: 300px;
}

.pokemon {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon .image {
  display: flex;
  border-radius: 15px;
  padding: 1.5rem;
  border: 0.5rem solid var(--border-color);
  justify-content: center;
  width: 45%;
  background: url("../images/background.jpg") no-repeat 0 0;
}

.pokemon .image > img {
  align-self: center;
  width: 150px;
}

.pokemon .info {
  border-radius: 15px;
  padding: 1.5rem;
  border: 0.5rem solid var(--border-color);
  width: 45%;
}

.pokemon .info .name {
  font-size: 2.5rem;
}

.pokemon .info > p {
  font-size: 1.5rem;
}

.pokemon .info .attribute {
  font-weight: bold;
  color: #ee4035;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-footer);
}

.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* https://css-tricks.com/the-checkbox-hack/ */

.switch {
  align-self: center;
  height: 24px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 48px;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #f2b705;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

/* end */

.footer .dark-mode-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.footer .info {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;

  padding: 1rem;
}

.footer .created-by span {
  color: #f0f0f0;
}

.footer .apis span {
  color: #f0f0f0;
}

.footer .links {
  color: #ffc908;
}

@media (max-width: 780px) {
  .pokemon {
    flex-direction: column;
  }
  .pokemon .image {
    flex: 1;
    width: 100%;
    margin-bottom: 3rem;
  }

  .pokemon .info {
    flex: 1;
    width: 100%;
  }
  .footer {
    font-size: 1rem;
    position: relative;
    margin-top: 3rem;
  }
}
